.cart{
  padding-top: 4.5rem;
}

.cartContent {
  max-width: 100rem;
  padding: 1.5rem;
  margin: 0 auto;
}

.cartMedia {
  border: 1px solid #fff;
  padding: 1rem;
  background-color: #fff;
}

.cartBodyWrapper {
  display: flex;
  align-items: center;
}

.cartInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.cartBtnWrapper {
  text-align: right;
}

.cartBeforeBtn {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 1rem;
}

.btnWrapper {
  text-align: center;
  padding: 3rem;
}

.cartBeforeBtnWrapper {
  text-align: right;
}

.cartBtn {
  width: 20rem;
  padding: 1rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #26a4ca;
  border: 0.2rem solid #26a4ca;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  transition: ease 2s;
  cursor: pointer;
  border-radius: 4rem;
  font-weight: bold;
}

.cartBtn:hover {
  border: 0.2rem solid #26a4ca;
}

.cartBtn span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.cartBtn:hover span {
  color: #26a4ca;
  transition: ease 1s;
}

.bgleft::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: left top;
}

.bgleft:hover::before {
  transform: right top;
  transform: scale(1, 1);
}

.cartBeforeBtnWrapper {
  text-align: right;
}

.cartBeforeBtn {
  position: relative;
  padding: 0.5rem 1rem 0.5rem 3rem;
  cursor: pointer;
}

.cartBeforeBtn::before,
.cartBeforeBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  width: 0.3rem;
  height: 1.6rem;
  background: #333;
}

.cartBeforeBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cartBeforeBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cartBody a {
  text-decoration: underline;
}

.cartBeforeBtn:hover {
  background-color: #c0c0c0;
}

.cartPrice {
  font-weight: bold;
  font-size: 2rem;
}

.isCartFlg {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.totalPrice {
  margin-bottom: 2rem;
}

.totalPrice p {
  font-size: 2rem;
  font-weight: bold;
}

.cartImgWrapper img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .cartInner,
  .cartBodyWrapper {
    display: block;
    text-align: center;
  }

  .cartBody {
    margin-bottom: 1.5rem;
  }
  .cartBody p {
    padding-bottom: 1rem;
  }

  .cartContent {
    max-width: 45rem;
  }
}
