.cartContent {
  max-width: 1230px;
  padding: 15px;
  margin: 0 auto;
}
.cartMedia {
  border: 1px solid #fff;
  padding: 10px;
  background-color: #fff;
}
.cartImg {
}
.cartBodyWrapper {
  display: flex;
  align-items: center;
}
.cartInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
.cartBtnWrapper {
  text-align: right;
}
.cartBeforeBtn {
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 10px;
}

.btnWrapper {
  text-align: center;
  padding: 30px;
}
.cartBeforeBtnWrapper {
  text-align: right;
}

.cartBtn {
  display: inline-block;
  width: 400px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.cartBtn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}
.cartBeforeBtnWrapper {
  text-align: right;
}

.cartBeforeBtn {
  position: relative;
  padding: 5px 10px 5px 30px;
  cursor: pointer;
}

.cartBeforeBtn::before,
.cartBeforeBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  width: 2px;
  height: 16px;
  background: #333;
}

.cartBeforeBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cartBeforeBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cartBody a {
  text-decoration: underline;
}

.cartBeforeBtn:hover {
  background-color: #c0c0c0;
}

.cartPrice {
  font-weight: bold;
  font-size: 2rem;
}
