.detailImgWrapper {
  width: 100%;
  height: 40rem;
  position: relative;
  margin: 0 auto;
}

.detailImgWrapper img {
  object-fit: cover;
}

.detailTitle {
  font-size: 7rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  padding: 0 1rem;
  top: 25%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 3;
}

.detailContainer {
  max-width: 133rem;
}

.detailBodyWrapper {
  padding: 3rem 0;
}

.detailBody {
  display: flex;
  background-color: #fff;
  padding: 4rem;
}

.detailBodyInner {
  width: 55%;
  font-size: 1.5rem;
  margin-right: 5%;
}

.detailBodyWrapper {
  max-width: 103rem;
  margin: 0 auto;
}

.detailImgWrapper::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.detailRadioWrapper {
  width: 40%;
  border: 1px solid #333;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3rem;
  font-size: 1.75rem;
}

.detailLerge {
  font-size: 2rem;
  font-weight: bold;
}

.cartAlert {
  color: red;
  font-size: 1.5rem;
}

.detailBtnWrapper {
  margin: 1rem 0;
}

.detailBtn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 15rem;
  max-width: 100%;
  padding: 1rem 1rem;
  background-color: #26a4ca;
  border: 0.2rem solid #26a4ca;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  transition: ease 2s;
  cursor: pointer;
  border-radius: 30px;
}

.detailBtn:hover {
  border: 0.2rem solid #26a4ca;
}

.detailBtn span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.detailBtn:hover span {
  color: #26a4ca;
  transition: ease 1s;
}

.bgleft::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: left top;
}

.bgleft:hover::before {
  transform: right top;
  transform: scale(1, 1);
}

.btnWrapper {
  width: 40%;
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  width: 25rem;
  height: 7rem;
  background-color: #111;
  border: 0.1rem solid #111;
  color: #fff;
  font-size: 2rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 20rem;
}

.btn::after {
  content: url(/images/再生ボタン.png);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 40%;
  right: 20%;
  transform: translateY(-50%);
}

.btn:hover {
  border-color: transparent;
}

.pushdown::before {
  position: relative;
  top: 0.5rem;
}

.pushdown:hover {
  transform: translateY(5px);
}

.btnWrapper p {
  font-size: 1.5rem;
}

.review {
  background-color: #fff;
  padding: 1.5rem;
  max-width: 103rem;
  margin: 0 auto;
}

.listWrpper {
  display: flex;
  justify-content: space-between;
}

.btnReview {
  display: inline-block;
  width: 150px;
  height: 40px;
}

@media screen and (max-width: 1200px) {
  .detailBody {
    padding: 1.5rem;
    display: block;
  }

  .detailBodyInner {
    width: 100%;
  }

  .detailRadioWrapper {
    width: 100%;
    margin-top: 3rem;
  }

  .btnWrapper {
    width: 100%;
    margin-top: 2rem;
  }

  .middleOnly {
    display: none;
  }

  .middleOnlyMr50 {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .detailTitle {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 768px) {
  .detailTitle {
    font-size: 4.4rem;
  }

  .middleOnly {
    display: block;
  }

  .middleOnlyMr50 {
    margin-right: 0;
  }

  .detailImgWrapper {
    height: 30rem;
  }
}
