.p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p::before,
.p::after {
  content: '';
  width: 7rem;
  height: 0.3rem;
  background-color: #26a4ca;
}

.p::before {
  margin-right: 20px;
}
.p::after {
  margin-left: 20px;
}

.itemList {
  width:98%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 1rem;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.item {
  padding: 1rem;
  width: 20%;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .item{
    width: 33%;
  }
  .item:nth-child(n + 7){
    display: none;
  }
}

@media (max-width: 768px) {
  .item{
    width: 50%;
  }
  .item:nth-child(n + 5){
    display: none;
  }
}

.item:hover {
  opacity: 0.5;
}

.itemImage{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
}

.artist {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fesName {
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chatbotButton {
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center; 
  padding: 1rem 4rem;
  margin: 1rem;
  color: #415DE2;
  background-color: white;
  border-radius: 10rem;
  border: 0.2rem solid #415DE2;
  margin-bottom: 3rem;
}

.chatbotButton:hover {
  color: white;
  background-color: #415DE2;
}

.br {
  display: none;
}

.btnWrapper{
  display: flex;
  justify-content: center; 
  margin-top: 2rem;
}

.chatbotButtonBefore {
  font-size: 2rem;
  font-weight: 720;
  line-height: 1.5;
  justify-content: center; 
  padding: 2.5rem 4rem;
  margin: 1rem;
  color: #415DE2;
  background-color: white;
  border-radius: 10rem;
  border: 0.2rem solid #415DE2;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .chatbotButtonBefore{
    font-weight: bold;
    padding: 1.5rem 4rem;
  }
  .br{
    display: inline;
  }
}

.chatbotButtonBefore:hover {
  color: white;
  background-color: #415DE2;
}
