.mypageMain {
  display: flex;
  justify-content: center;
}

.mypageGrop {
  max-width: 120rem;
  display: flex;
  justify-content: center;
}
.mypageSection {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mypageSection .rightWrapper,
.leftWrapper {
  width: 48%;
  font-size: 1.5rem;
}

.wrapperTitle {
  font-size: 2rem;
  font-weight: bold;
}

.mypageSection ul {
  border: 1px solid #fff;
  padding: 2rem;
  background-color: #fff;
  border-radius: 2rem;
}

.mypageSection ul li {
  list-style: none;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #111111;
}

.mypageSection ul li .itemInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mypageSection ul li .itemName {
  font-size: 2rem;
}

.mypageSection ul li .itemInfo .rentalInfo {
  width: 60%;
  text-align: end;
}

.mypageSection ul li a {
  text-decoration: revert;
  font-weight: bold;
}

.btnWrapper {
  width: 13rem;
  text-align: center;
  margin-left: auto;
  margin-right: 0;
}

.btn {
  position: relative;
  display: inline-block;
  width: 13rem;
  height: 4.5rem;
  background-color: #111;
  border: 0.1rem solid #111;
  color: #fff;
  font-size: 2rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 20rem;
}

.btn::after {
  content: url(/images/再生ボタン.png);
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 30%;
  right: 17%;
  transform: translateY(-50%);
}

.btn:hover {
  border-color: transparent;
}

.pushdown::before {
  position: relative;
  top: 0.5rem;
}

.pushdown:hover {
  transform: translateY(5px);
}

.itemInfo img {
  width: 40%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .mypageSection {
    flex-direction: column;
  }

  .mypageSection .rightWrapper,
  .leftWrapper {
    width: 100%;
    margin-top: 2rem;
  }
  .btn {
    width: 9rem;
    height: 3.5rem;
    background-color: #111;
    border: 0.1rem solid #111;
    color: #fff;
    font-size: 1.5rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 20rem;
  }
  
  .btn::after {
    content: url(/images/再生ボタン.png);
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 30%;
    right: 17%;
    transform: translateY(-50%);
  }


}
