.paymentMain .errorWrapper {
  width: fit-content;
  margin: 3rem auto 0;
}

.paymentMain .errorWrapper .errorMessage {
  color: red;
  border: 0.1rem solid;
  border-radius: 1rem;
  display: inline-block;
  padding: 2rem;
  font-size: 2rem;
}

.paymentMain .orderWrapper {
  /* padding: 5rem; */
  padding-bottom: 1rem;
  margin: 0 auto;
  max-width: 100rem;
}

.paymentMain .orderWrapper h1 {
  font-size: 2rem;
}

.paymentMain .orderWrapper .itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 3rem;
  font-size: 1.5rem;
  color: #111111;
  border: 1px solid #fff;
  background-color: #fff;
}

.paymentMain .orderWrapper .itemWrapper img {
  border: 0.1rem solid #fff;
}

.paymentMain .orderWrapper .itemWrapper .ItemInfo {
  width: fit-content;
  display: flex;
}

.paymentMain .orderWrapper .itemWrapper .ItemInfo .itemName {
  width: fit-content;
  margin-left: 2rem;
}

.paymentMain .orderWrapper .itemWrapper .price p {
  margin: 0;
}

.paymentMain .orderWrapper .itemWrapper .price div {
  font-size: 2rem;
  font-weight: bold;
}

.paymentMain .orderWrapper .count {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: end;
}

.paymentMain form {
  margin: 2rem 0;
  text-align: center;
}

.btnWrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.btnWrapper .paymentBtn {
  width: 20rem;
  padding: 1rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #26a4ca;
  border: 0.2rem solid #26a4ca;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: none;
  transition: ease 2s;
  cursor: pointer;
  border-radius: 4rem;
  font-weight: bold;
}

.btnWrapper .paymentBtn:hover {
  border: 0.2rem solid #26a4ca;
}

.btnWrapper .paymentBtn span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.btnWrapper .paymentBtn:hover span {
  color: #26a4ca;
  transition: ease 1s;
}

.bgleft::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: left top;
}

.bgleft:hover::before {
  transform: right top;
  transform: scale(1, 1);
}

.sumPrice {
  font-size: 2rem;
  margin: 0/5rem 0;
}

@media screen and (max-width: 768px) {
  .paymentMain .orderWrapper .itemWrapper {
    display: block;
    width: 100%;
    max-width: 100rem;
  }

  .paymentMain .orderWrapper .itemWrapper .ItemInfo {
    display: block;
    width: 100%;
  }

  .paymentMain .orderWrapper .itemWrapper .ItemInfo {
    display: block;
    width: 100%;
  }

  .paymentMain .orderWrapper .itemWrapper .ItemInfo .itemName {
    width: 100%;
  }
  .itemGrop {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .paymentMain .orderWrapper {
    max-width: 45rem;
  }
}
