.registerCompMain{
    width: 80%;
    margin: 5rem auto;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    color: white;
    font-size: 2rem;
    border-radius: 2rem;
}
.registerCompMain .contents{
    text-align: center;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.registerCompMain .contents p{
    font-size: 2.4rem;
}

.loginLink:hover {
    text-decoration: revert;
}


@media screen and (max-width: 800px) {

    .registerCompMain{
        width: 80%;
        margin: 5rem auto;
        background-color: #111111;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        color: white;
        font-size: 1.4rem;
        border-radius: 2rem;
    }
    
    .registerCompMain .contents p{
        font-size: 1.8rem;
    }
}
