.evaluation {
  color: #b8adad;
}

.active {
  color: yellow;
}
.accordion {
  border: 1px solid #333;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}


.rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #ccc;
}

.title {
  font-size: 2rem;
}
.score {
  font-size: 2rem;
}

.star span {
  font-size: 2rem;
}

.rating::before,
.rating::after {
  content: '★★★★★';
}

.rating::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32;
}

/* アコーディオン */
.toggle {
  display: none;
}

.contentBody {
  height: 0;
  overflow: hidden;
  transition: 1s;
}

.toggle:checked ~ .contentBody {
  height: auto;
  opacity: 1;
  transition: 1s;
}

.contentBody p {
  margin-left: 1rem;
  margin-right: 1rem;
}
.contentBody p:first-child {
  margin-top: 1rem;
}
.contentBody p:last-child {
  margin-bottom: 1rem;
}

.toggle:checked {
  border-bottom: 1px solid #333;
  transition: all 0.3s;
}

.label {
  display: block;
  padding: 1rem;
  background-color: #26a4ca;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.label span {
  border: 1px solid #333;
  margin-left: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5rem;
}

.label::after {
  content: '';
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-70%) rotate(135deg);
}
.toggle:checked + .label::after {
  transform: rotate(-45deg);
}

/* レーティング */
.rating[data-rate='0']:after {
  width: 0%;
}
.rating[data-rate='0.5']:after {
  width: 10%;
}
.rating[data-rate='1']:after {
  width: 20%;
}
.rating[data-rate='1.5']:after {
  width: 30%;
}
.rating[data-rate='2']:after {
  width: 40%;
}
.rating[data-rate='2.5']:after {
  width: 50%;
}
.rating[data-rate='3']:after {
  width: 60%;
}
.rating[data-rate='3.5']:after {
  width: 70%;
}
.rating[data-rate='4']:after {
  width: 80%;
}
.rating[data-rate='4.5']:after {
  width: 90%;
}
.rating[data-rate='5']:after {
  width: 100%;
}

/* ページング番号 */
.paging {
  /* text-align: center; */
  margin: 2rem 0;
}

.pagingBtn {
  margin-left: 1rem;
  border-radius: 25rem;
  color: white;
  background-color: #26a4ca;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 0.2rem solid #26a4ca;
  cursor: pointer;
}

.pagingBtn:hover {
  background-color: white;
  color: #26a4ca;
}
/* ソート */
.selection {
  margin: 1rem 0;
}

@media screen and (max-width: 768px) {
  .accordionOuter {
    width: 100%;
  }
}
