.container {
  display: flex;
  justify-content: space-between;
}

.searchOpenFalse {
  display: none;
}

.searchForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-right: 0.1rem solid #1111;
  font-size: 1.2rem;
}

.headline {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
}

.radioUl {
  padding-left: 0;
  margin-bottom: 1rem;
  margin-top: 0;
}

.radioLi {
  list-style: none;
}

.components {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.searchResult {
  width: 90%;
}

.searchCount {
  font-size: 1.5rem;
}

.sortSelect {
  font-size: 1.5rem;
}

.itemList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.item {
  padding: 1rem;
  width: 20%;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .item {
    width: 50%;
  }
}

.item:hover {
  opacity: 0.5;
}

.itemImage {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
}

.artist {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fesName {
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.paging {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.pagingBtn {
  border-radius: 25rem;
  color: white;
  background-color: #26a4ca;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 0.2rem solid #26a4ca;
}

.pagingBtn:hover {
  background-color: white;
  color: #26a4ca;
}

.searchBtn {
  color: white;
  font-weight: bold;
  border-radius: 10rem;
  background-color: #26a4ca;
  border: 0.2rem solid #26a4ca;
}

.searchBtn:hover {
  background-color: white;
  color: #26a4ca;
}

.taLeft {
  text-align: left;
  display: inline-block;
}

@media (max-width: 768px) {
  .container {
    flex-flow: column;
  }
  .searchForm {
    height: fit-content;
    border-right: 0rem;
    border-right: none;
    border-bottom: 0.1rem solid #1111;
    display: flex;
    padding-bottom: 1rem;
  }
  .radioUl {
    display: flex;
    flex-wrap: wrap;
  }
  .radioLi {
    margin-right: 1rem;
  }
  .searchResult {
    width: 100%;
  }
}
